
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato;
    max-width: 100vw;
    min-height: 100vh;
}

textarea{
    color: #fff;
}
::placeholder {
    color: rgb(118, 118, 118);
    font-style: italic;
    font-weight: 100;
  }
 
 



@media (min-width: 768px) and (max-width:1200px){
    .hero-text{
        padding: 20px;
        width:100% ;

    }
    .hero-text h1{
        font-size: 45px;
        width: 100%;
    }
    .hero-text .typed-cursor{
        font-size: 45px;
    }
    .hero-text h4{
        font-size: 22px;
        width: 75%;
        margin-top: 10px;
    }
    .hero_btn{
    border-radius:40px ;
    }
    .about{
        padding: 0;
    }
    .about-img{
        height: 400px;
    }
    .about-text h1{
        font-size: 50px ;
    }
    .about-text h2{
        font-size: 40px ;
    }
    .about-text p{
        font-size: 22px ;
    }
    .project_wrapper{
        margin: 0;
        gap: 50px;
    }
    .project_1{
        width: 90%;
    }
    .project_text h1{
        font-size: 24px;
        font-weight: 600;
    
    }
    .project_text p{
        font-size: 18px;
        font-weight: 400;
        color: #121212;
    }
    .portfolioimg, .gymimg, .formimg{
        width: 50%;
        height: 200px;
    }
    .skill_wrapper{
        margin: 200px 80px;
        width: 90%;
    }
    progress{
        width: 70%;
        height: 30px;
    }
    .contact_wrraper{
        width: 90%;
        gap: 30px;
        border: 2px olive;
    }
    .contact-text > h1{
        width: 100%;
    }
    .contact-text > h2{
        width: 100%;
        font-size: 25px;
    }
    .contact-text > p{
        width: 100%;
        font-size: 18px;
    }
}
